{%extends 'app1/home.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            width: 300px;
            text-align: center;
            

        }
    </style>
</head>
<body>
    <table border="1">
        <tr>
            <th>Deptno</th>
            <th>Dept Name</th>
        </tr>
        {%for row in qs%}
        <tr>
            <td>{{row.deptno}}</td>
            <td>{{row.deptname}}</td>
        </tr>
        {%endfor%}
    </table>
    
    {%endblock%}
</body>
</html>
